@using School.DataModels.Models

@model TeachersBL<Teachers>



<div>
    <div class="  card-header  ; text-danger" style="text-align:center;"> <h1><b>Are you sure you want to delete @Model.Data.FirstName @Model.Data.LastName</b></h1></div>
    <div class="card-body" >

        <div style="float:left ;margin:3vh;margin-left:40%">
            <img style="width:10vh " src="~/Pictures/CountriesIcon.png"  />
        </div>

        <div>
            <label>Teacher Id: </label>
            <label>@Model.Data.TeachersId</label>
        </div>
        <div>
            <label>First Name: </label>
            <label>@Model.Data.FirstName</label>
        </div>

        <div>
            <label>LastName: </label>
            <label>@Model.Data.LastName</label>
        </div>
        <div>
            <label>Email: </label>
            <label>@Model.Data.Email</label>
        </div>

        <div>
            <label>Gender: </label>
            <label>@Model.Data.Gender</label>
        </div>

        <div>
            <label>DateOfBirth: </label>
            <label>@Model.Data.DateOfBirth</label>
        </div>

        <div>
            <label>Adress: </label>
            <label>@Model.Data.Adress</label>
        </div>

      

    </div>
    <div class="card-footer" style="text-align:center">
      
      
        <a class="btn btn-danger" asp-controller="Teachers" asp-action="ConfirmDelete" asp-route-Id="@Model.Data.TeachersId"><i class="fa fa-trash" aria-hidden="true"> Yes</i></a>
        <a class="btn btn-info" asp-controller="Teachers" asp-action="Details" asp-route-Id="@Model.Data.TeachersId"><i class="fas fa-list" aria-hidden="true"> No</i></a>


    </div>

   


</div>